*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

header {
  padding-bottom: 30px;
}

h1 {
  font-size: 75px;
  text-align: center;
  padding: 10px;
  color: white;
  /* background-color: red; */
  text-shadow: 1px 1px 5px black;
}

h5 {
  text-align: center;
}


.contenitore{
  width: 60vw;
  margin: auto;
  /* background-color: yellow; */
}

.box{
  width: 13vw;
  height: 250px;
  display: inline-block;
  /* background-color: blue; */
  background-image: url("../img/pattern.png");
  background-size: contain;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 5px black;
  margin: 12.5px;
}
.contenuto{
  display: none;
  font-size: 20px;
  position: absolute;

}

.bicicletta{
  color: orange;
  bottom: 8px;
  left: 50px;
}
#box-1:hover, #box-4:hover{
  background-color: white;
  background-image: url("../img/noun_Bicycle_3134821.png");
  background-repeat: no-repeat;
}
#box-1:hover .bicicletta {
  display:block;
}
#box-4:hover .bicicletta {
  display:block;
}



.nave{
  color: green;
  bottom: 8px;
  left: 50px;
}
#box-2:hover, #box-10:hover{
  background-color: white;
  background-image: url("../img/noun_Cruise_Ship_3134824.png");
  background-repeat: no-repeat;
}
#box-2:hover .nave {
  display:block;
}
#box-10:hover .nave {
  display:block;
}



.mongolfiera{
  color: purple;
  bottom: 8px;
  left: 50px;
}
#box-3:hover {
  background-color: white;
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-repeat: no-repeat;
}
#box-3:hover .mongolfiera{
  display: block;
}


.sottomarino{
  color: red;
  bottom: 8px;
  left: 50px;
}
#box-5:hover, #box-7:hover{
  background-color: white;
  background-image: url("../img/noun_Submarine_3134738.png");
  background-repeat: no-repeat;
}
#box-5:hover .sottomarino{
  display: block;
}
#box-7:hover .sottomarino{
  display: block;
}



.trattore{
  color: blue;
  bottom: 8px;
  left: 50px;
}
#box-8:hover, #box-9:hover{
  background-color: white;
  background-image: url("../img/noun_Tractor_3134797.png");
  background-repeat: no-repeat;
}
#box-8:hover .trattore{
  display: block;
}
#box-9:hover .trattore{
  display: block;
}



.tram{
  color: yellow;
  bottom: 8px;
  left: 50px;
}
#box-11:hover, #box-12:hover{
  background-color: white;
  background-image: url("../img/noun_Tram_3134750.png");
  background-repeat: no-repeat;
}
#box-11:hover .tram{
  display: block;
}
#box-12:hover .tram{
  display: block;
}


.contenuto-speciale{
  font-size: 20px;
  position: absolute;
}
#box-6 {
  background-color: white;
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-repeat: no-repeat;
}
