*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: red;
}

h5 {
  text-align: center;
}
